* {
    margin: 0;
    box-sizing: border-box
}

body {
    background-color: #2F4F4F;
}
#wrapper {
    max-width: 975px;
    margin: 0 auto 0 auto;
   
}
header img{
    width: 100%;
    display: block;
}
#second{
      max-width: 975px;
    margin: 0 auto 0 auto;
    background-color: white;
    text-align: center;
}


.content{
    max-width: 975px;
    margin: 0 auto 0 auto;
    background-color: white;
    
}

nav{
    background-color: darkcyan;
    max-width: 975px;
    margin: 0 auto 0 auto;

}
a.menu{
    display: inline-block;
    width: 25%;
    padding: 15px 30px 15px 30px;
    color: white;
    text-decoration: none;
    text-align: center;
    
}
a.menu:hover {
   color: black;
}

#first{
     max-width: 975px;
    margin: 0 auto 0 auto;
    background-color: white;
    text-align: center;
  
}
#photo {
     max-width: 975px;
    margin: 0 auto 0 auto;
    background-color: white;
    text-align: center;
    display: block;
}

#photo img{
    width: 25%;
}

h2{
     font-size: 30px;
    margin: 0 10% 20px 10%;
    border-bottom: 2px solid crimson;
    padding: 15px 0 15px 0;
}

h1{
    font-size: 30px;
    text-align: center;
    margin: 0 10% 20px 10%;
    padding: 15px 0 15px 0;
    border-bottom: 2px solid crimson;
    color: black;
    
}
article{
   margin-right: 20px;
    
    
}

img.left{
    float: left;
    padding: 15px;
    width: 25%;
    border-radius: 0;
}
article p {
    text-align: justify;
    line-height: 20px;
    font font-size: 18px;
    padding: 10px 0 10px 0 ;
}

footer {
    height: 40px;
    background-color: darkcyan;
    text-align: center;
    line-height: 40px;
    color: white;
    margin-top: 50px;
    
    
}

